S3method(print,ikun_method_result)
S3method(print,ikunml_result)
S3method(summary,ikunml_result)
export(available_methods)
export(feature_hit_summary)
export(feature_intersection)
export(feature_sets)
export(plot_upset)
export(plot_venn)
export(prepare_ikun_data)
export(run_boruta)
export(run_caret_rfe)
export(run_elastic_net)
export(run_feature_selection)
export(run_ga)
export(run_gbm)
export(run_lasso)
export(run_msvm_rfe)
export(run_rpart)
export(run_rf)
export(run_svm_rfe)
export(run_xgboost)
export(write_ikun_results)
export(write_ikun_plots)
